<div>
    <h3>View User List</h3>
    <button class="btn btn-primary float-right" routerLink="/login">Back</button>
    <table class="table" id="registeredData">
        <thead>
            <th>UserName</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Action</th>
        </thead>
        <tbody>
           <tr *ngFor="let user of registeredData, let i = index">
                <td>{{user.userName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <td class="text-center action-block">
                    <div class="button">
                        <button type="submit" class="btn btn-warning" (click)="view(i)">View</button>
                        <button type="submit" class="btn btn-danger" (click)="delete(i)">DeleteUser</button>
                        <button type="submit" class="btn btn-primary">Upadate</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>